In [4]:
import pandas as pd

fp = pd.read_csv("carnatic/file_paths.csv")
fp

,filepath,mbid
0,Sumitra Nitin at Arkay by Sumitra Nitin/Doraku...,6d4e58d1-e565-4987-b7a5-c63a4e9d3f90
1,Sumitra Nitin at Arkay by Sumitra Nitin/Ganamu...,d99f623e-8004-4e1a-a31c-5f760a018498
2,Sumitra Nitin at Arkay by Sumitra Nitin/Chidam...,eaf6b71a-8baf-4df2-bf70-0586428c7faa
3,Sumitra Nitin at Arkay by Sumitra Nitin/Vandal...,e3fe24f3-292a-4a96-97fd-bfd1f681394c
4,Sumitra Nitin at Arkay by Sumitra Nitin/Thiruv...,7cbd62c6-2304-459a-8d7a-98647abac6d2
...,...,...
244,Chaitra Sairam at Arkay by Chaitra Sairam/Gova...,93f38e28-f411-4b06-9494-91232649a635
245,Chaitra Sairam at Arkay by Chaitra Sairam/Ardh...,9ab5de50-9a19-46cc-93d7-867f0ebb0da4
246,Chaitra Sairam at Arkay by Chaitra Sairam/Anan...,833331e9-7907-4e28-b60d-8c8186931dfd
247,Chaitra Sairam at Arkay by Chaitra Sairam/Rakt...,0a1c2ae7-e933-458d-afac-fa081338d5de
248,Chaitra Sairam at Arkay by Chaitra Sairam/Gang...,b584e95d-ec72-4467-abb5-bd18e7a55ae7

In [5]:
import numpy as np


file_path = np.asanyarray(fp.filepath)

In [6]:
import json

raagas = []

for a in file_path:
    with open("carnatic/"+a+".json", 'r') as file:
        data = json.load(file)
        raaga = list(data['raaga'])
        if(len(raaga[0:1])):
            for i in raaga[0:1]:
                raagas.append(i['common_name'])
        else:
            raagas.append(np.NaN)

fp['raagas'] = raagas
fp.to_csv('file_path_raaga.csv')

In [7]:
fp.isnull().sum()
``

filepath     0
mbid         0
raagas      65
dtype: int64

In [8]:
fp=fp.dropna()

In [9]:
fp.isnull().sum()

filepath    0
mbid        0
raagas      0
dtype: int64

In [10]:
fp.to_csv('file_path_raaga.csv')